
/* Fake image */
.fakeimg {
  background-color: #7d603e;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #edd3be;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
