/* Fake image */

.fakeimg0 {
  border-radius: 25px;
  background-image: url("https://media.tenor.com/oH20De0H2m0AAAAC/pixel-coffeeshop.gif");
  background-color: #7d603e;
  width: 100%;
  height: 300px;
  padding: 20px;
  background-blend-mode: luminosity;

}

.fakeimg1 {
   border-radius: 25px;
  background-image: url("https://i.pinimg.com/originals/ac/1e/a2/ac1ea2d4ad5ce1954c4abcf9a4b291bf.gif");
  background-color: #7d603e;
  width: 100%;
  height: 300px;
  padding: 20px;
 background-blend-mode: luminosity;
}

.fakeimg2 {
  border-radius: 25px;
  background-image: url("https://gifdb.com/images/high/colorful-pixel-cute-cat-l7gbiejnnk2f75f5.webp");
  background-color: #7d603e;
  width: 100%;
  height:100px;
  background-blend-mode: luminosity;
  padding: 20px;

}

.fakeimg3 {
  border-radius: 25px;
  background-image: url("https://img1.picmix.com/output/stamp/normal/3/7/7/2/1782773_b14d8.gif");
  background-color: #7d603e;
  width: 100%;
  height:150px;
  background-blend-mode: luminosity;
  padding: 20px;

}

.fakeimg4 {
  border-radius: 25px;
  background-image: url("https://64.media.tumblr.com/1ef78e1bb8e59b2c3c98884800c28f14/807e8f2a5fa341c0-78/s640x960/477ea047f37027f640ce7559dcebbf2744f7e30b.gif");
  background-color: #7d603e;
  width: 100%;
  height:150px;
  background-blend-mode: luminosity;
  padding: 20px;

}
.fakeimg5 {
  border-radius: 25px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0d31c273-9de7-4575-9773-8f4bcd21de30/dcuwur9-2a18e1b4-9a58-4a93-bfca-d6b87d69b547.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkMzFjMjczLTlkZTctNDU3NS05NzczLThmNGJjZDIxZGUzMFwvZGN1d3VyOS0yYTE4ZTFiNC05YTU4LTRhOTMtYmZjYS1kNmI4N2Q2OWI1NDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.V7p1qYlzEngpjBfFtL2cMWBzzOLjPWjtTvAXbH9Fa5Q");
  background-color: #7d603e;
  width: 100%;
  height:150px;
  background-blend-mode: luminosity;
  padding: 20px;

}
/* Add a card effect for articles */
.card {
  background-color: #edd3be;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
